body {
  font-family: sans-serif;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('images/station.jpg');
  background-position: center;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
  border-radius: 5px;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  transition: button 1s;
}

.btn1,
.btn5 {
  background: green;
}

.btn2 {
  background: red;
  margin-left: 1rem;
}

.btn3 {
  background: cornflowerblue;
  margin-left: 1rem;
}

.btn4 {
  background: orange;
}

.btn5 {
  margin: 1em 0;
}

.btn1:active,
.btn2:active,
.btn3:active,
.btn4:active,
.btn5:active {
  transform: scale(1.1);
  background: gray;
}

#count-el {
  font-size: 3rem;
  color: #e5e5e5;
}

#app {
  width: 200px;
  text-align: center;
  color: #e5e5e5;
}
